{% extends "base.html" %}
{% block title %}
<title>Password reset</title>
{% endblock title %}
{% block body %}
<div class="container">
<h1>Reset password</h1>        
<p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
        <form class="form-inline my-2 my-lg-0" method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit" class="btn btn-outline-success my-2 my-sm-0">Reset my password</button>
        </form>
    </div>
{% endblock body %}


