<div class="row">
        <div class="col-12">
            <div class="" style="text-align:center;">
                <span style="margin-bottom:5px;"> <strong>Role 1</strong> <br> Tell the community what are the tasks asked for this volunteer role.</span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <label for="name">Title:</label>
        </div>
        <div class="col-8" style="text-align:left;">
            <input class="form-control" type="text" name="name" id="title_role_1" placeholder="Title of the role" required >                        
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-3">
            <label for="description">Description:</label>
        </div>
        <div class="col-8" style="text-align:left;">
            <textarea class="form-control" id="description_role_1" cols="100" rows="8" placeholder="Describe the tasks that the volunteer will realize..." required></textarea>
        </div>
    </div>
    <hr>
    <div class="row" style="margin-top:15px;">
        <div class="row">
            <div class="col-10 offset-1">
                <label for="number_volunteers_role_1">How many volunteers do you need for this role?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <input class="spinner" id="number_volunteers_role_1" name="num_reg_att" min="2" placeholder="2" value="2" required>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="row">
            <div class="col-10 offset-1">
                <label for="number_min_role_1">What is the minimum registration (for this role) for your activity to happen?</label>
            </div>
        </div>
        <div class="row">
            <div class="col-4 offset-4">
                <input class="spinner" id="number_min_role_1" name="min_reg_att" min="2" placeholder="2" value="2" required>
            </div>
        </div>
    </div>
    <hr>    