<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Joatu - CAPs</title>
    {% endblock title %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Karla:700" rel="stylesheet">

    {% block css %}
    
    {% endblock css %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
</head>
    <body>
        <div id="swipediv">
            <nav>
                <div class="sidenav" id="mySidenav">
                    <a class="closebtn" id="close_navbar">&times;</a>
                    {% if user.is_authenticated %}
                    <a href="/">Home</a>
                    <a class="nav-link" id="projects-tab" href="/list_projects/" >Activities</a>
                    <a class="nav-link" id="offers-tab"  href="/list_offers/" >Offers</a>
                    <a class="nav-link" id="Demands-tab" href="/list_demands/">Requests</a>
                    <a class="nav-link" id="settings" href="/settings/">Settings</a>
                    <a href="{% url 'accounts:logout' %}">Log Out</a>
                    {% else %}
                        {% block login %}
                        
                        {% endblock login %}
                    {% endif %}
                </div>
            </nav>
            <div id="main">
                <nav class="navbar navbar-dark bg-dark" style="height:60px;">
                    <span class="navbar-toggler-icon" id="open_navbar"></span>
                    <img src="{% static 'images/logo_white_mobile.png' %}" class="navbar-brand ml-auto  mr-auto" alt="logo Joatu"/>
                </nav> 
                <input type="hidden" id="userId" value={{request.user.profile.id}}>
                    <div class="row">
                        <div class="col-4"  style="text-align:center; border-right:1px solid rgb(168, 168, 168); border-bottom:1px solid rgb(168, 168, 168);">
                            <a class="navbar-brand" href="#">
                                   ?
                            </a>
                        </div>
                        <div class="col-4" style="text-align:center; border-right:1px solid rgb(168, 168, 168); border-bottom:1px solid rgb(168, 168, 168);">
                            <a class="navbar-brand" href="#" style="text-align:center;">
                                <span style="font-size:1em;"><strong id="numb_CAPS"></strong> CAPS
                                    </span>
                            </a> 
                        </div>

                        <div class="col-4" style="text-align:center; border-bottom:1px solid rgb(168, 168, 168);">
                            <a class="navbar-brand" href="#" >
                                <span><strong id="numb_message"></strong>
                                    <img src="{% static 'images/icon/message.png' %}" width="30" height="30" alt="">
                                </span>
                                
                            </a> 
                        </div>
                    </div>
                {% block body %}
                {% endblock body %}

            </div>

        <!-- Footer -->
        <footer class="bg-dark" style="text-align:center;margin-top:15px; color:white; position:fixed; bottom:0; width:100%;">Joatu</footer>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="{% static 'js/mobile/menu-mobile.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
{% block script %}
{% endblock script %}

</body>
</html>